.contact_us {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Merriweather', sans-serif;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-color: #f2f7f7;
}

.all_contact_us {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  font-family: 'PT Serif', serif;
}

.contact_us_1 {
  padding: 50px 50px;
  margin-top: 70px;
  margin-bottom: 80px;
  width: 80%;
  background-color: #ffffff;
  border-radius: 20px;
  display: flex;
  color: #2d4a47;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 30px 1px rgba(0, 0, 0, 0.02);
  font-family: 'PT Serif', serif;
}

.contact_us_1_page_text_2 {
  text-align: center;
  line-height: 26px;
  font-size: 18px;
  color: #2d4a47;
  font-family: 'PT Serif', serif;
  font-weight: 400;
}

.link_contact_us_1 {
  margin-top: 40px;
  font-size: 18px;
  padding: 12px 18px;
  text-decoration: none;
  color: #2d4a47;
  background-color: #eeeeee;
  border-radius: 7px;
  transition: all 0.6s;
}

.link_contact_us_1:hover {
  background-color: #e7e7e7;
}

.contact_us_2 {
  padding: 50px;
  margin-top: 80px;
  width: 80%;
  background-color: #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'PT Serif', serif;
  color: #2d4a47;
  box-shadow: 1px 1px 30px 1px rgba(0, 0, 0, 0.02);
}