.conference____2 {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
}

.all_conference____2  {
  width: 100%;
  padding: 110px 0 70px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.form__block {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  border-radius: 10px;
  background-color: #f2f7f7;
  color: #2d4a47;
}

.input {
  height: 35px;
  width: 100%;
  background-color: transparent;
  border: 0;
  outline: none;
  border-bottom: 1px solid #000000;
  color: #2d4a47;
  position: absolute;
  bottom: 0;
  left: 0;
}

.textarea {
  resize: none;
}

.input__text {
  position: absolute;
  top: 10px;
  left: 0;
  color: #2d4a47;
  font-weight: 400;
  transition: all 0.4s;
}

.input__label {
  position: relative;
  height: 55px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input__line {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #8b8484;
  width: 0;
  height: 1px;
  display: inline-block;
  transition: all 0.4s;
}

.input:focus ~ .input__line {
  width: 100%;
}

.input:valid ~ .input__text,
.input:focus ~ .input__text {
  top: 0;
  font-size: 11px;
  color: #000000;
  font-weight: 400;
}

.button[type="submit"] {
  width: 40%;
  border: none;
  outline: none;
  padding: 10px 15px;
  font-size: 17px;
  border-radius: 8px;
  color: #2d4a47;
  text-align: center;
  cursor: pointer;
  margin-top: 40px;
  transition: 0.6s ease background-color;
  background-color: #d5dfdd;
  font-weight: 500;
}


.button[type="submit"]:hover {
  background-color: #c4d4d0;
}

#status.success {
  animation: status 4s ease forwards;
}

#status.error {
  color: #000000;
  animation: status 4s ease forwards;
}

#status {
  line-height: 24px;
  margin-top: 30px;
  width: 60%;
  text-align: center;
}

.label_form {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}

.form {
  width: 100%;
}

.form_text_1 {
  text-align: center;
  font-size: 24px;
  color: #000;
  margin-bottom: 30px;
  font-weight: 500;
}

.part_3_conference {
  margin-bottom: 0;
}

@media only screen and (max-width: 500px) {
  .button[type="submit"] {
    width: 75%;
    font-weight: 400;
    border: none;
    outline: none;
    padding: 10px 15px;
    font-size: 17px;
    border-radius: 8px;
    color: #000;
    text-align: center;
    cursor: pointer;
    margin-top: 40px;
    transition: 0.6s ease background-color;
    background-color: #eeeeec;
  }
  .form_text_1 {
    text-align: center;
    font-size: 20px;
    color: #000;
    margin-bottom: 30px;
    font-weight: 500;
  }
}
