.info {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #eff5f5;
  flex-wrap: wrap;
}

.all_info {
  width: 100%;
  padding: 70px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.all_info_text_1 {
  font-size: 30px;
  font-weight: 500;
  color: #2d4a47;
}

.all_info_text_2 {
  margin-top: 25px;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  color: #2d4a47;
}

.all_info_text_3 {
  color: #2d4a47;
  margin-top: 15px;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
}

.text_info {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.all_info_text_4 {
  margin-top: 30px;
  font-size: 16px;
  padding: 15px 30px;
  text-decoration: none;
  color: #2d4a47;
  background-color: #ffffff;
  border-radius: 7px;
  transition: all 0.6s;
}

.all_info_text_4:hover {
  background-color: #eae9e9;
}