.slide-content__1 {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 50px;
}

.slide-content__1 {
  display: flex;
  justify-content: center;
}

.slide-content__2 {
  width: 100%;
  text-align: center;
}

.slide-content__2_3 {
  display: flex;
  justify-content: center;
}

.slide-content__2 {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

#bullets {
  margin-top: 20px;
  text-align: center;
}

.blockquote__slider {
  font-size: 16px;
  line-height: 30px;
  color: #636363;
  font-weight: 400;
  font-style: italic;
}

.about_us_img_part {
  padding: 20px 0;
  margin-top: 80px;
  width: 60%;
  height: 400px;
  background-color: #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 30px 1px rgba(0,0,0,0.02);
}

.part_of_donation_page_2,
.part_of_donation_page {
  width: 100%;
}

.part_of_donation_page {
  margin-bottom: 60px;
}

.part_2_conference {
  padding: 0 50px 0 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
